.card-body {
    padding: 8px 30px;
}

.field-validation-error {
    font-size: 13px;
}

.progress {
    height: 9px;
}

div._FileUpload {
    position: relative;
    overflow: hidden;
    cursor: pointer;
    color: #67757c;
    background-color: white;
    border-color: #67757c;
}

div._FileUpload:hover {
    border-color: #67757c;
    background-color: #67757c;
}

._FileUpload .form-control-file {
    position: absolute;
    font-size: 50px;
    opacity: 0;
    right: 0;
    top: 0;
    cursor: pointer;
}

.form-group label {
    font-weight: bold;
}

.page-wrapper {
    margin-top: 30px;
}

.sidebar-nav ul .sidebar-item.selected > .sidebar-link,
.page-item.active .page-link,
.btn-primary {
    background-color: grey;
    border-color: grey;
}

.sidebar-nav ul .sidebar-item.selected > .sidebar-link:hover,
.btn-primary:hover,
.page-item.active .page-link:hover {
    background-color: #a5a5a5;
    border-color: #a5a5a5;
}

.page-item.active .page-link {
    cursor: pointer;
}

.page-link {
    color: rgb(219, 0, 17);
}

.page-link:hover {
    color: rgb(175, 0, 13);
}

.badge.bg-danger {
    background-color: rgb(219, 0, 17) !important;
}

.badge.bg-success {
    background-color: rgb(0, 132, 127) !important;
}

.modal {
    font-family: Arial, sans-serif;
}

.modal-content {
    border: 4px solid #444;
    top: 80px;
}

.modal-footer {
    display: inline;
}

.modal-footer .btn-primary {
    float: right;
}

.btn-default {
    color: #333;
    background-color: #fff;
    border-color: #ccc;
    padding: 5px 10px !important;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
}

.btn-default:hover {
    color: #333;
    background-color: #e6e6e6;
    border-color: #adadad;
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    font-size: 14px;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgb(0 0 0 / 18%);
    box-shadow: 0 6px 12px rgb(0 0 0 / 18%);
}

.dropdown-menu > li > a {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: 400;
    line-height: 1.42857143;
    color: #333333;
    white-space: nowrap;
}
