.card-body {
    padding: 8px 30px;
}

.field-validation-error {
    font-size: 13px;
}

.progress {
    height: 9px;
}

div._FileUpload {
    position: relative;
    overflow: hidden;
    cursor: pointer;
    color: #67757c;
    background-color: white;
    border-color: #67757c;
}

div._FileUpload:hover {
    border-color: #67757c;
    background-color: #67757c;
}

._FileUpload .form-control-file {
    position: absolute;
    font-size: 50px;
    opacity: 0;
    right: 0;
    top: 0;
    cursor: pointer;
}

.form-group label {
    font-weight: bold;
}

.page-wrapper {
    margin-top: 30px;
}

.sidebar-nav ul .sidebar-item.selected > .sidebar-link,
.page-item.active .page-link,
.btn-primary {
    background-color: grey;
    border-color: grey;
}

.sidebar-nav ul .sidebar-item.selected > .sidebar-link:hover,
.btn-primary:hover,
.page-item.active .page-link:hover {
    background-color: #a5a5a5;
    border-color: #a5a5a5;
}

.page-item.active .page-link {
    cursor: pointer;
}

.page-link {
    color: rgb(219, 0, 17);
}

.page-link:hover {
    color: rgb(175, 0, 13);
}

.badge.bg-danger {
    background-color: rgb(219, 0, 17) !important;
}

.badge.bg-success {
    background-color: rgb(0, 132, 127) !important;
}

.modal {
    font-family: Arial, sans-serif;
}

.modal-content {
    border: 4px solid #444;
    top: 80px;
}

.modal-footer {
    display: inline;
}

.modal-footer .btn-primary {
    float: right;
}
