@model IList<string>
@{
    ViewBag.Title = "Master Recipients";
}
<div class="page-breadcrumb">
    <div class="row align-items-center">
        <div class="col-4">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb mb-0 d-flex align-items-center">
                    <li class="breadcrumb-item"><a href="@Url.Action("Index", "Home")" class="link"><i class="mdi mdi-home-outline fs-4"></i></a></li>
                    <li class="breadcrumb-item active" aria-current="page">MasterRecipient</li>
                </ol>
            </nav>
        </div>
        <div class="col-8">
            <div class="text-end upgrade-btn">
                @using (Html.BeginForm("Index", "MasterRecipient", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    <div id="upload-master-container row">
                        <div class="col-6" style="float:left">
                            <select id="recipientTemplate" class="form-select shadow-none form-control-linel">
                                <option value="">Recipient Template</option>
                                @{
                                    foreach (var item in Model)
                                    {
                                        <option value="@item">@item</option>
                                    }
                                }
                            </select>
                        </div>
                        <div class="col-6" style="float:left">
                            <div class="file btn btn-primary">
                                <i class="mdi mdi-upload"></i>
                                Upload new
                                <input type="file" class="form-control-file" id="MasterRecipients" name="MasterFile" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet" />
                            </div>

                            <a href="@Url.Action("RecipientsMasterTemplate", "Download")" class="btn btn-primary text-white"
                               target="_blank">
                                <i class="mdi mdi-download"></i>
                                Download master
                            </a>
                        </div>

                    </div>
                    <div id="upload-master-cancel" style="display:none">
                        <span data-control-id="MasterRecipients"></span>
                        <button type="button" id="btn-master-cancel" class="btn btn-danger btn-sm" style="float:right">Cancel</button>
                        <button type="submit" class="btn btn-primary btn-sm" style="float:right">Submit</button>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    <div class="d-md-flex align-items-center">
                        <div class="table-responsive" style="width:100%">
                            <table class="table mb-0 table-hover align-middle text-nowrap">
                                <thead>
                                    <tr>
                                        <th class="border-top-0">Client Email</th>
                                        <th class="border-top-0">CC</th>
                                        <th class="border-top-0">BCC</th>
                                        <th class="border-top-0">Client Name</th>
                                    </tr>
                                </thead>
                                <tbody id="recipientData"></tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="amp-pxl mt-4" style="height: 350px;">
                    <div class="chartist-tooltip"></div>
                </div>
            </div>
        </div>
    </div>

</div>

@section Scripts {
    <script src="~/Scripts/site.recipients.js"></script>
}
