
input::file-selector-button {
    border-radius: 3px;
    border: none;
    border-right: 1px solid #bdbdbd;
    padding: 10px;
}

.footer {
    position: fixed;
    width: 100%;
    bottom: 0;
    text-align: center;
}

.panel-container {
    padding: 0;
}

    .panel-container .box-panel {
        min-height: 125px;
    }

    .panel-container .panel .panel-body {
        width: 100%;
    }


.vertical-center {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

div.file {
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

.file .form-control-file {
    position: absolute;
    font-size: 50px;
    opacity: 0;
    right: 0;
    top: 0;
    cursor: pointer;
}

.file-upload-container label {
    cursor: pointer;
    width: 100%;
}

.modal {
    opacity: 1 !important;
    background-color: black !important;
}

    .modal.fade .modal-dialog {
        transition: transform 0.3s ease-out;
        transform: translate(0,0px);
    }
