.tostContainer {
    position: fixed;
    opacity: 0;
    visibility: hidden;
    top: 15px;
    width: auto;
    z-index: 99999;
    max-width: 400px;
    margin: 0%;
    left: 45%;
    transition: all 0.3s ease-in-out;
    transform: rotateX(-90deg) rotateY(0);
    transform-origin: 0 0;
    -webkit-box-shadow: 0 2px 8px rgba(0, 0, 0, 0.12);
}

.tostContainer .msgPopup {
    position: relative;
    font-size: 14px;
    width: auto;
    text-align: left;
    height: auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 6px 40px 6px 15px;
}

.tostContainer .msgPopup .closeIcon {
    position: absolute;
    top: 7px;
    right: 5px;
    height: 17px;
    opacity: 1;
    cursor: pointer;
}
.tostContainer .msgPopup.success {
    background: rgb(0, 132, 127);
    color: white;
    width: auto;
}
.tostContainer .msgPopup.error {
    background: rgb(168, 0, 11);
    color: white;
    width: auto;
}

.tostContainer.active {
    transform: rotateX(0deg) rotateY(0);
    opacity: 1;
    visibility: visible;
    min-height: auto;
}
@media only screen and (max-width: 768px) {
    .tostContainer {
        top: 0px;
        max-width: 100%;
        margin: 0% 0%;
        left: 0px;
        right: 0px;
    }
    .tostContainer .msgPopup {
        border-radius: 0px;
    }
}
