._CustomCheckBox {
    display: inline;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

._CustomCheckBox input {
    display: none;
}

._CustomCheckBox input ~ .checkmark {
    background: none;
    width: 25px;
    display: inline-block;
    position: relative;
    height: 25px;
    border-radius: 2px;
    vertical-align: middle;
    margin-right: 10px;
}

._CustomCheckBox input ~ .checkmark:after,
._CustomCheckBox input ~ .checkmark:before {
    content: "";
    position: absolute;
    width: 3px;
    height: 16px;
    background: red;
    left: 12px;
    top: 4px;
    border: 1px solid;
}

._CustomCheckBox input ~ .checkmark:after {
    transform: rotate(-45deg);
    z-index: 1;
}

._CustomCheckBox input ~ .checkmark:before {
    transform: rotate(45deg);
    z-index: 1;
}

._CustomCheckBox input:checked ~ .checkmark {
    background: none;
    width: 25px;
    display: inline-block;
    position: relative;
    height: 25px;
    border-radius: 2px;
}

._CustomCheckBox input:checked ~ .checkmark:after {
    display: none;
}

._CustomCheckBox input:checked ~ .checkmark:before {
    background: none;
    border: 3px solid green;
    width: 7px;
    left: 10px;
    border-top: 0;
    border-left: 0;
    height: 14px;
    top: 4px;
}

._CustomCheckBox input:checked:disabled ~ .checkmark:before {
    background: none;
    border: 3px solid red;
    width: 7px;
    left: 10px;
    border-top: 0;
    border-left: 0;
    height: 14px;
    top: 4px;
}
